.pagetitle{
    margin-bottom: 10px;
}

.pagetitle h1{
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #012970;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}