.search__bar {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: fit-content;
    margin-top: 50px;
}

.search__bar form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form__group span {
    font-size: 1.8rem;
    color: #ee6e6e
}

.form__group input {
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form__group input:focus {
    outline: none;
}

.form__group h6 {
    margin-bottom: 0;
}


.search__icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .search__bar {
        border-radius: 25px;
        padding: 0.5rem;
    }

    .form__group {
        flex-basis: 100%;
    }

    .search__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
}