.header {
    width: 100%;
    height: 100px;
    line-height: 80px;
    margin: 0 auto;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    margin-bottom: 0;
}

.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    margin-left: -50px;
    margin-right: 25px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__item a:hover {
    color: var(--secondary-color);
}

.nav__item a.active__link {
    color: var(--secondary-color);
}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: flex;
}

.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.btn__login {
    white-space: nowrap;
}

.btn__register {
    white-space: nowrap;
    margin-left: -25px;
}

/* CSS cho submenu */
.submenu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 10;
    top: 75%;
    /* Đặt menu con ngay dưới menu chính */
    margin-left: -75px;
    min-width: 200px;
    padding: 0px 0;
}

.nav__item {
    position: relative;
}

/* Hiển thị submenu khi hover vào mục cha */
.nav__item:hover .submenu {
    display: flex;
}

.submenu li {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
}


/* Bỏ đường ngăn cách ở mục cuối cùng */
.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    display: block;
    margin-left: 1rem;
}

.submenu li a:hover {
    color: #007bff;
}