section {
    background-image: url("https://img6.thuthuatphanmem.vn/uploads/2022/07/19/hinh-nen-ruong-bac-thang-4k-cho-may-tinh_025251384.jpg");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
}

.login__img {
    width: 60%;
    text-align: center;
    background-color: white;
}

.login__img img {
    width: 70%;
    margin-top: 35px;
}

.login__form {
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}



.login__container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}

.login__form .user {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}

.login__form .user img {
    width: 100%;
    margin-top: 2px;
}

.login__form h2 {
    color: #fff;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .login__form h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .login__form h2 {
        font-size: 1rem;
    }
}

.login__form {
    width: 50%;
}

.login__form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus {
    outline: none;
}

.auth__btn {
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}

.login__form p {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}

.login__form p a {
    color: var(--heading-color);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}

.icon_section {
    width: 10%;
    float: left;
    margin-top: 5px;
    margin-left: -35px;
}

.input_section {
    width: 90%;
    float: left;
}

.auth__btn {
    margin-top: 10px;
}
