.sectionLoginForm {
    background-image: url("https://img6.thuthuatphanmem.vn/uploads/2022/07/19/hinh-nen-ruong-bac-thang-4k-cho-may-tinh_025251384.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    min-height: 100vh;

}

.login__form {
    width: 75%;
}

.login__container {
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px solid white;
}

.login__form .user {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -9%);

}

.login__form .user img {
    width: 100%;
    margin-top: 2px;
}

.login__form h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.login__form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus {
    outline: none;
}


.icon_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    float: left;
    margin-top: 10px;
    color: white;
}

.input_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    float: left;
}

.auth__btn {
    margin-top: 10px;
    width: 100%;
}